<!DOCTYPE html>
<html lang="cs">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{$project->title}">
        <meta name="author" content="{$project->author}">
        <link rel="icon" href="{$basePath}/favicon.ico" type="image/x-icon">

        <title>{ifset $title}{$title} | {/ifset} Šifrovačka</title>

        {block assets-head}
        {* Font awesome *}
        <link href="{$nmodulesPath}/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        {* SB Admin 2 CSS *}
        <link href="{$nmodulesPath}/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">
        <link href="{$nmodulesPath}/jquery-ui-dist/jquery-ui.css" rel="stylesheet">

        {* jQuery *}
        <script src="{$nmodulesPath}/jquery/dist/jquery.min.js"></script>

        {/block}
    </head>

    {* Flash messages *}
    {define #flashes}
        <div class="flash" n:snippet="flash" n:inner-foreach="$flashes as $flash">
            {var $flashTypesInfo = [
                        $presenter::FLASH_INFO => ['primary', 'fas fa-info-circle'],
                        $presenter::FLASH_SUCCESS => ['success', 'fas fa-check-circle'],
                        $presenter::FLASH_WARNING => ['warning', 'fas fa-exclamation-circle'],
                        $presenter::FLASH_ERROR => ['danger', 'fas fa-times-circle'],
                    ]}
            <div n:class="alert, alert-dismissible, isset($flashTypesInfo[$flash->type]) ? 'alert-'.$flashTypesInfo[$flash->type][0]">
                <i n:if="isset($flashTypesInfo[$flash->type])" n:class="$flashTypesInfo[$flash->type][1]"></i>
                {$flash->message}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        </div>
    {/define}

    <body id="page-top" class="bg-gradient-primary">
        {block body-content}
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{link Home:}">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">
                    </div>
                </a>

                {if $user->isInRole(admin)}
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading">Administrace</div>

                    <li n:foreach="$adminMenuItems as $adminMenuItem" n:class="nav-item,
                        Nette\Utils\Strings::startsWith($adminMenuItem->target, $presenter->getName()) ? active">
                        <a class="nav-link" n:href="$adminMenuItem->target">
                            <i class="{$adminMenuItem->icon}"></i>
                            <span>{$adminMenuItem->title}</span>
                        </a>
                    </li>
                {/if}

                {if $user->isInRole(team)}
                    <hr class="sidebar-divider d-none d-md-block">
                    <div class="sidebar-heading">Šifry</div>

                    <li n:foreach="$ciphersNav as $cipherNav" n:class="nav-item, (isset($cipher) && ($cipher->id === $cipherNav->id)) ? active">
                        <a class="nav-link" n:href="Game:task, $cipherNav->id">
                            {var $cipherNavProgress = $cipherNav->getTeamProgress($teamId)}
                            {if isset($cipherNavProgress->solved)}
                                <i class="fas fa-check-circle"></i>
                            {elseif isset($cipherNavProgress->skipped)}
                                <i class="fas fa-times-circle"></i>
                            {/if}
                            <span>{$cipherNav->sequence}. {$cipherNav->name}</span>
                        </a>
                    </li>
                {/if}

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <a n:href="Home:"><img src="{$basePath}/img/logo.png" height="50"></a>
                        <div class="topbar-divider"></div>
                        <h5>{$project->title} {='now'|date:'Y'}</h5>
                        <div class="topbar-divider"></div>
                        <span class="text-gray-600" n:ifset="$username">
                            {$username}
                        </span>
                        <a n:href="logout!" class="text-gray-600 ml-2">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                        <div class="topbar-divider"></div>
                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        {include #flashes}

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 n:ifset="$title" class="h3 mb-0 text-gray-800">{$title}</h1>
                        </div>

                        {block content}{/block}
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span></span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        {/block}

        {block assets-body}
        {* Bootstrap *}
        <script src="{$nmodulesPath}/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{$nmodulesPath}/jquery.easing/jquery.easing.min.js"></script>

        {* jQueryUI *}
        <script src="{$nmodulesPath}/jquery-ui-dist/jquery-ui.js"></script>

        {* Nette *}
        <script src="{$nmodulesPath}/live-form-validation/live-form-validation.js"></script>

        {* SB Admin2 *}
        <script src="{$nmodulesPath}/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>

        {* Popper.js *}
        <script src="{$nmodulesPath}/popper.js/dist/umd/popper.js"></script>

        <script src="{$nmodulesPath}/chart.js/dist/Chart.min.js"></script>
        {*<script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>*}
        {/block}

    </body>

</html>
