{define submit $name, $options}
    {var $class = $options['class'] ?? 'btn-primary'}
    {var $icon = $options['icon'] ?? null}
    {var $submit = is_string($name) ? end($this->global->formsStack)[$name] : $name}
    <button n:name="$name" n:class="btn, $class" n:attr="data-confirm => $options[confirm] ?? null">
        <span class="pre-button">
            <span class="button-icon">
                <i n:if="$icon" class="{$icon}"></i>
            </span>
        </span>
        {$submit->getCaption()}
    </button>
{/define}

{define input $name}
    {var $input = is_string($name) ? end($this->global->formsStack)[$name] : $name}
    {var $inputType = $input->getOption(type)}
    {if $inputType !== 'checkbox'}
        {input $input class => form-control}
    {else}
        {input $input}
    {/if}
{/define}

{define input-row-right-column}
    {var $input = is_string($name) ? end($this->global->formsStack)[$name] : $name}
    {var $help = $input->getOption(help)}
    <i n:if="$help" title="$help" class="fas fa-question-circle fa-lg"></i>
    {var $edit = $input->getOption(edit)}
    <a n:if="$edit" class="btn btn-sm btn-primary" href="{$edit}" title="Edit {$name}">
        <i class="fas fa-edit"></i>
    </a>

{/define}

{define input-row $name, $options}
    {var $input = is_string($name) ? end($this->global->formsStack)[$name] : $name}
    {var $inputType = $input->getOption(type)}
    <div n:class="form-group, $inputType === checkbox ? form-check">
        <div class="row">
            <div class="col-md-2 control-label">
                {label $name /}
            </div>
            <div class="col-md-8">
                {if $input->getControl()->getAttribute(type) === 'submit'}
                    {include submit $name, $options}
                {else}
                    {include input $name, $options}
                {/if}
            </div>
            <div class="col-md-2">
                {include input-row-right-column $name, $options}
            </div>
        </div>
    </div>
{/define}
