{define table-open-tag}
    {*foreach $columns as $column}
        {ifset #col-$column->name}
        {else}
            {define #col-$column->name}
                {include #col row => $row, cell => $cell, columns => $columns, column => $iterator->current()}
            {/define}
        {/ifset}
    {/foreach*}

    {*<a class="btn btn-primary m-2" href="{plink edit}">
        <i class="fas fa-plus"></i> Nová položka
    </a>*}

    <table class="table table-bordered table-hover" data-control="datagrid" n:id="datagrid">
{/define}

{define table-close-tag}
    </table>
    {include #after-table}
{/define}

{define after-table}

{/define}

{define col}
    {var $link = $column->getOption(link)}
    {if is_callable($link)}
        {var $link = $link($row)}
    {elseif $link}
        {var $link = $presenter->link(...(array) $link)}
    {/if}
    <td>
        {var $cells = !is_iterable($cell) ? [$cell] : $cell}
        {foreach $cells as $cell}
            <span>
                <a n:tag-if="$link" href="{$link}">
                    {$cell}
                </a>
            </span>
            {sep}|{/sep}
        {/foreach}
    </td>
{/define}

{define col-id}
    {var $id = $cell}
    <td>
        <a n:if="method_exists($presenter, 'actionEdit')" href="{plink edit $id}" class="btn btn-primary btn-sm" title="Edit">
            <i class="far fa-edit"></i>
        </a>
        <a href="{plink remove! $id}" class="btn btn-danger btn-sm" title="Smazat" onclick="return confirm('Pokračovat?');">
            <i class="fas fa-times"></i>
        </a>
    </td>
{/define}

{define global-filter-actions}
    <button n:name="filter" class="btn btn-primary btn-sm">
        <i class="fas fa-filter"></i>
    </button>
	<button n:name="cancel" class="btn btn-danger btn-sm" n:if="$showCancel">
        <i class="fas fa-ban"></i>
    </button>
{/define}

{define col-filter}
    {include input $column->name}
{/define}

{define row-head-columns}
    {ifset $paginator}
        <tr>
			<th colspan="{=count($columns) + $hasGlobalActionsColumn + $hasActionsColumn}">
                {ifset $paginator}
                    {include #pagination}
                {/ifset}
			</th>
		</tr>
    {/ifset}
    {include #parent}
{/define}

{define pagination}
    {*<ul class="pagination">
            <li n:class="page-item, $paginator->first ? disabled">
                <a class="page-link ajax" href="{link paginate!, 'page' => 1}">«</a>
            </li>
            <li n:class="page-item, $paginator->first ? disabled">
                <a class="page-link ajax" href="{link paginate!, 'page' => $paginator->page - 1}">««</a>
            </li>

            {var $stepsRange = 6}
            {var $stepsLeft = range(
                max($paginator->page - intval($stepsRange/2), 1),
                $paginator->page
            )}
            {var $stepsRight = range(
                $paginator->page,
                min($paginator->page + $stepsRange - count($stepsLeft) + 1, max($paginator->pageCount, 1)))}
            {var $steps = array_merge($stepsLeft, array_slice($stepsRight, 1))}

            {foreach $steps as $step}
                <li n:class="page-item, $paginator->page === $step ? disabled">
                    <a class="page-link ajax" href="{link paginate!, 'page' => $step}">{$step}</a>
                </li>
            {/foreach}

            <li n:class="page-item, $paginator->last ? disabled">
                <a class="page-link ajax" href="{link paginate!, 'page' => $paginator->page + 1}">»»</a>
            </li>
            <li n:class="page-item, $paginator->last ? disabled">
                <a class="page-link ajax" href="{link paginate!, 'page' => $paginator->pageCount}">»</a>
            </li>
    </ul>
    <span class="badge badge-secondary"><i class="far fa-sticky-note"></i> {$paginator->page}/{$paginator->lastPage} ({$paginator->itemCount} items)</span>*}
{/define}