{import _form.latte}

{block content}

<p><small><a n:href="list">Zpět na seznam</a></small></p>

{form form data-submit-default => 'save'}
    <div class="row">
        <div class="col-md-10 col-sm-8">
            {foreach $form->getValueControls() as $controlName => $formControl}
                {include #input-row $controlName}
            {/foreach}
        </div>
        <div class="col-md-2 col-sm-4">
            <p>{include #submit save, [class => 'btn-primary', icon => 'far fa-save']}</p>
            <p>{include #submit saveReturn, [class => 'btn-primary', icon => 'fas fa-angle-double-right']}</p>
        </div>
    </div>
{/form}
