{block content}

<div class="row" n:if="isset($previous)">
    <div class="col-10">
        <a n:href="this, $previous->id">Předchozí úkol</a>
    </div>
    <div class="mt-5"></div>
</div>

{* Info *}
<div class="row">
    <div class="col-10">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                <p><i class="fas fa-clock"></i> Aktuální čas {$now|date:'d.m.Y H:i'}</p>

                {if $previous === null || isset($teamProgressPrevious->solved) || isset($teamProgressPrevious->skipped)}
                    <p><i class="fas fa-map"></i> {$cipher->place}</p>
                {else}
                    <p>Místo se zobrazí až po vyřešení nebo přeskočení předchozího úkolu!</p>
                {/if}
            </div>
        </div>
    </div>
</div>

{if !isset($teamProgress->arrived)}
    {control arriveForm}
{else}
    {* Zadání úkolu *}
    <div class="row">
        <div class="col-md-6">
            <!--   -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Zadání</h6>
                </div>
                <div class="card-body">
                    <p><i class="fas fa-route"></i> Příchod k úkolu - {$teamProgress->arrived|date:'d.m.Y H:i'}</p>
                    {if isset($teamProgress->solved)}
                        <p><i class="fas fa-check-circle"></i> Úkol vyřešen - {$teamProgress->solved|date:'d.m.Y H:i'}</p>
                    {elseif isset($teamProgress->skipped)}
                        <p><i class="fas fa-times-circle"></i> Úkol přeskočen - {$teamProgress->skipped|date:'d.m.Y H:i'}</p>
                    {else}
                        <strong>Zadání:</strong>
                        {$cipher->task}
                        {control answerForm}
                        <a class="btn btn-danger" n:href="skip!" onclick="return confirm('Opravdu chcete tento úkol přeskočit? Již nejde vrátit zpět.');">
                            Přeskočit
                        </a>
                    {/if}
                </div>
            </div>

        </div>

        {* Nápověda *}
        <div class="col-md-6">
            <!--   -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Nápověda</h6>
                </div>
                <div class="card-body">
                    {* Nápověda *}
                    {if isset($teamProgress->help)}
                        <p><i class="fas fa-question-circle"></i> Nápověda odemčena - {$teamProgress->help|date:'d.m.Y H:i'}</p>
                        <p><small>{$cipher->help}</small></p>
                    {else}
                        {var $helpAllowed = $teamProgress->arrived->modify($helpOffset)}
                        {if $now >= $helpAllowed}
                            <a class="btn btn-info" n:href="help!">
                                Nápověda
                                <i class="fas fa-question-circle"></i>
                            </a>
                        {else}
                            Nápovědu bude možno odemknout za {$now->diff($helpAllowed)->format("%i")} minut {$now->diff($helpAllowed)->format("%S")} vteřin
                        {/if}
                    {/if}
                </div>
            </div>

        </div>
    </div>

    {* Další úkol *}
    {if isset($teamProgress->solved) || isset($teamProgress->skipped)}
        {if isset($next)}
            <p>Místo dalšího úkolu je <strong>{$next->place}</strong></p>
            <a class="btn btn-success" n:href="this, $next->id">
                Jsme na místě, pokračovat...
                <i class="fas fa-angle-double-right"></i>
            </a>
        {else}
            <p>Toto je poslední úkol</p>
        {/if}
    {/if}

{/if}

