{define col-team}
    <td>{$cell->name}</td>
{/define}

{define col-cipher}
    <td>{$cell->name}</td>
{/define}

{define col-event}
    <td>{$eventTitles[$cell]}</td>
{/define}

{define col-time}
    <td>{$cell|date:'d.m.Y H:i:s'}</td>
{/define}
