{block body-content}

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-12 p-4">
                            {include #flashes}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 p-5">
                            <img src="{$basePath}/img/logo.png" height="350">
                        </div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Přihlášení</h1>
                                </div>
                                <form n:name=loginForm class=form>
                                    <div class="form-group">
                                        {input username class => 'form-control form-control-user', placeholder => 'Zadejte obdržené přihlašovací jméno Vašeho týmu'}
                                    </div>
                                    <div class="form-group">
                                        {input password class => 'form-control form-control-user', placeholder => 'Zadejte heslo pro Váš tým'}
                                    </div>
                                    {input login class => 'btn btn-primary btn-user btn-block'}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>