@charset "UTF-8";
.select2-container--style[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--style[dir=rtl] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--style.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}
.select2-container--style.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}
.select2-container--style.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--style .select2-selection--single {
  height: auto;
}
.select2-container--style .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--style .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
.select2-container--style .select2-selection--single .select2-selection__placeholder {
  color: #999;
}
.select2-container--style .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--style .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--style .select2-selection--multiple {
  cursor: text;
  height: auto;
}
.select2-container--style .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  width: 100%;
}
.select2-container--style .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}
.select2-container--style .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
  padding: 1px;
}
.select2-container--style .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
.select2-container--style .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
.select2-container--style .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}
.select2-container--style.select2-container--focus .select2-selection--multiple {
  outline: 0;
}
.select2-container--style .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--style[dir=rtl] .select2-selection--multiple .select2-selection__choice, .select2-container--style[dir=rtl] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--style[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--style[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--style.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--style.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--style.select2-container--open.select2-container--above .select2-selection--single, .select2-container--style.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--style.select2-container--open.select2-container--below .select2-selection--single, .select2-container--style.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--style .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--style .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--style .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--style .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--style .select2-results__option[aria-selected=true] {
  /*background-color: #ddd;*/
}

.select2-container--style .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--style .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--style .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--style .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--style .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--style .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--style .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--style .select2-results__option--highlighted[aria-selected] {
  /*background-color: #5897fb;*/
  opacity: 0.6;
  /*color: white;*/
}

.select2-container--style .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.icon {
  display: inline-block;
}
.icon:before {
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
  text-decoration: none;
  /* https://stackoverflow.com/questions/47788847/font-awesome-5-font-family-issue */
  font-weight: 900 !important;
}
.icon.icon-brain:before {
  content: "";
}
.icon.icon-subbrain:before {
  content: "";
}
.icon.icon-soul:before {
  content: "";
}
.icon.icon-home:before {
  content: "";
}
.icon.icon-behaviour-tree:before {
  content: "";
}
.icon.icon-sa-smart-area:before, .icon.icon-smart-area:before {
  content: "";
}
.icon.icon-smart-object:before {
  content: "";
}
.icon.icon-dialog:before {
  content: "";
}
.icon.icon-switching:before {
  content: "";
}
.icon.icon-combat:before {
  content: "";
}
.icon.icon-sa-behaviour-tag:before, .icon.icon-behaviour-tag:before {
  content: "";
}
.icon.icon-collapse[aria-expanded=false]:before {
  content: "";
}
.icon.icon-collapse[aria-expanded=true]:before {
  content: "";
}

html, body {
  height: 100%;
}

body {
  margin-top: 20px;
}

.loader {
  min-height: 35px;
}

button.btn .pre-button {
  min-width: 20px;
  text-align: center;
  display: inline-block;
}
button.btn .pre-button .button-spinner {
  display: none;
  position: relative;
  top: -1px;
}

a[href^="#error:"] {
  background: red;
  color: white;
}

form .required label {
  font-weight: bold;
}

.menu {
  font-size: 150%;
}

table.table {
  table-layout: fixed;
}
table.table th {
  max-width: 600px;
}
table.table td {
  padding: 10px;
}
table.table td.small-td {
  min-width: 200px;
  max-width: 300px;
  overflow-wrap: break-word;
}
table.table td.regular-td {
  min-width: 300px;
  max-width: 600px;
  overflow-wrap: break-word;
}
table.table td.regular-td ul {
  padding: 5px;
  list-style: square;
}

/* Ace Editor */
.ace_editor {
  min-height: 200px;
  width: 100%;
}

.editor-wrapper .editor-toolbar {
  padding: 5px;
  float: right;
}
.editor-wrapper .editor-toolbar button {
  margin-left: 1px;
  margin-right: 1px;
}

.modal.modal-fullscreen .modal-dialog {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  max-width: none;
}

.modal.modal-fullscreen .modal-body .ace_editor {
  font-size: 120%;
}

/*# sourceMappingURL=style.css.map */
